.svg-icon {
    font-size: 10px;
}

.svg-icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../imgs/sprites-svg.svg");
    background-repeat: no-repeat;
    background-size: 0em 0em;
}

.no-svg .svg-icon:before {
    background-image: url("../sprites-svg.png");
}




