//SLick css
/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
//
// TODO: Override Bootstrap Style
//==================================================

//
// TODO: Common Styles
//==================================================
body{
  font-family:@font-Roboto;
  background:#f8f8f8;
  color:@common-txt;
}
input{
  outline: none;
}
a{
  transition: all ease-in-out 0.3s;
  &:hover,&:focus{
    color:@link-hover-color;
    text-decoration: none;
  }
}
.ul{
  padding: 0;
  list-style-type: none;
}
.show-grid {
    margin-bottom: 15px;
}
.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}

// Init Sprites Style
// Comment of remove if you not use
.icon {
	display: inline-block;
}
[class^="icon-"] {
	display: inline-block;
	vertical-align: middle;
}

// Genarate Image Sprite
// Comment of remove if you not use
.sprites(@spritesheet-sprites);

// Genarate SVG Sprite
// Comment of remove if you not use
.retina-sprites(@retina-groups);



//
// TODO: Layout Styles
//==================================================


//
// TODO: Header Style
//==================================================
#header{
  background:#fff;
  border-bottom:1px solid @color-border;
}

.nav-tima{
  margin-bottom: 0;
  border:0;
  background-color:transparent;
  .in-nav-tima{
    width:100%;
    position: relative;
    padding-left:182px;
  }
  .navbar-header{
    height:74px;
    width:162px;
    top:23px;
    left:42px;
    z-index:1;
    position: absolute;
  }
  .navbar-brand{
    padding:0;
    height:auto;
    img{
      width:100%;
    }
  }
  .collapse-tima{
    padding:0;
    float:right;
    text-align: right;
    ul{
      text-align: right;
      float:right;
      li{
        display: inline-block;
      }
    }
    .nav-login{
      font-family:@font-Roboto;
      font-size:12px;
      color:#373535;
      margin-top:17px;
      li{
        a{
          display: inline-block;
          color:#373535;
          padding:0 11px;
          &:hover,&:focus{
            color:@link-hover-color;
            background:transparent!important;
          }

        }
        &.active{
          a{
            background:transparent!important;
          }
        }
        span{
          display: inline-block;
          color:@color-txt;
          font-size:14px;
        }
        &.contact-top{
          img{
            display: inline-block;
            margin:0 8px 0 11px;
          }
          a{
            font-size:14px;
            color:@link-color;
            font-weight:bold;
          }
        }
      }

    }
    .main-menu{
      margin-top:41px;
      border:1px solid @color-border;
      border-left:0;
      border-bottom:0;
      li{
        border-left:1px solid @color-border;
        display: inline-block;
        a{
          font-weight:bold;
          font-size:14px;
          color: @color-txt;
          text-transform: uppercase;
          padding:0 19px;
          height:45px;
          line-height: 45px;
          &:hover,&:focus{
            color:@link-hover-color;
            background:transparent;
          }
        }
      }
    }
  }
}
.spanHotline{
  padding-right:11px;
}


//
// TODO: Footer Style
//==================================================
.right-border-footer{
  border-right:1px solid @color-border;
}
#footer{
  background:#fff;
  padding:35px 0 20px;
  border-top:1px solid @color-border;
  ul{
    padding:0;
    list-style-type: none;
    li{
      display: block;
      margin:0 0 15px;
      a{
        color:@color-txt;
        &:hover{
          text-decoration: none;
          color:@link-hover-color;
        }
      }
    }
  }
}
.copyR{
  margin:15px 0 0;
  color:#8f8787;
}
.hot-txt{
  color:#8f8787;
  text-transform: uppercase;
  margin:0;
}
.num-tel{
  font-size:45px;
  color:@link-color;
  margin:-5px 0 5px;
  position: relative;
}
.email-txt{
  a{
    color:#968f8f;
    &:hover{
      text-decoration: none;
      color: @link-hover-color;
    }
  }
}
.cta{
  margin:0 0 35px;
  font-size:17px;
  color:@color-txt;
  text-align: center;
}
.install{
  text-align: center;
  a{
    display: inline-block;
    margin:0 10px;
    img{
      width:100%;
    }
  }
}

// HERO SECTION
.wrap-content{
  background:#f8f8f8;
}
.btn-tima{
    height:45px;
    line-height: 45px;
    border-radius: 3px;
    background:@link-color;
    font-size:@font-md;
    text-transform: uppercase;
    padding:0 25px;
    display: inline-block;
    transition:all ease-in-out 0.3s;
    color:#fff;
    width:auto;
    min-width: 50px;
    text-align: center;
    &:hover{
      background:darken(@link-color, 10%);
      color:#fff;
      text-decoration: none;
      cursor: pointer;
    }
    &.btn-tima-dark{
        background:@color-txt;
        &:hover{
          background:darken(@color-txt, 10%);
        }
    }
}
.hero-section{
  padding:40px 0 40px; 
  min-height: 360px;
  background:url('../imgs/bg-hero.jpg') no-repeat center top;
  background-size:cover;
}
.title-hero{
  font-size:@font-lg;
  color:@color-txt;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 17px;  
}
ul.list-hero{
  min-width:286px;
  li{
      font-size:@font-md;
      color:@color-txt;
  }
}
.left-hero,.right-hero{
}
.btn-hero{
  display: block;
  clear: both;
  margin:0 auto;
}
.left-hero{
  text-align: right;
  padding-right:10px;
  
  ul.list-hero{
    float:right;
    text-align: left;
    li{
      background:url('../imgs/arrows.png') no-repeat left 8px;
      padding:0 0 0 35px;
      margin:0 0 10px;
    }
  }
  .btn-hero{
    margin-right:60px;
  }
}
.right-hero{
  text-align: left;
  padding-left:90px;
  .title-hero{
    color:@link-color;
  }
  ul.list-hero{
    margin-bottom: 5px;
    float:left;
    max-width:210px;
    text-align: left;
    li{
      background:url('../imgs/arrows.png') no-repeat left 8px;
      padding:0 0 0 35px;
      margin:0 0 15px;
    }
  }
  .btn-hero{
    margin-left:0;
  }
}

// TIMA section
.defautl-section{
  margin-bottom: 40px;
  width:100%;
}
.border-section{
  border:1px solid @color-border;
  padding:25px 34px;
  width:100%; 
  background:#fff;
  width: 100%;
  overflow: hidden;
}
.title-section{
  font-size:@font-xlg;
  font-family:@font-UTM;
  text-transform:uppercase; 
  display: block;
  border-bottom: 1px solid @color-border;
  padding-bottom: 15px;
  margin-bottom: 25px;
}
.right-border{
  border-right:1px solid @color-border;
  padding-right:30px;
}
.big-text{
  font-size:@font-md;

}
.uppercase{
  text-transform: uppercase;
}
.tima-section{
  ul{
    padding-left:15px;
    font-size:@font-md;
    padding-top:7px;
    li{
      padding:5px 0 0 34px;
      position: relative;
      img{
        display: inline-block;
        margin-right: 5px;
        position: absolute;
        left:0;
        top:5px;
        z-index: 1;
      }
    }
  }
}

// LEND LIST
.lend-section{
  .right-border{
    overflow-x: auto;
  }
  .border-section{
    padding-bottom: 0;
  }
}
.lend-list,.borrow-list{
  overflow:hidden;
  font-size:@font-sm;
}
.scrollable{
  min-width:850px;
  max-width:100%;
}
.item-slide{
  width:100%;
  display: flex;
  align-content:center;
  vertical-align: middle;
  margin-bottom: 30px;
  > div{
    display: inline-block;
    padding:0 23px;
  }
  .border-tbl{
    border-right:1px solid @color-border;

  }
  .icon-person{
    padding:0;
    img{
      width:100%;
    }
  }
  .info-customer{
    flex: 1 1 19%;
    max-width: 19%;
    max-height: 100%;
    box-sizing: border-box;
    .name-cus{
      font-size:16px;
      font-weight:bold;
      color:@color-txt;
      margin-bottom: 5px;
    }
    .tel-cus{
      margin-bottom: 0;
    }
  }
  .type-lend{
    flex: 1 1 18%;
    max-width: 18%;
    max-height: 100%;
    box-sizing: border-box;
    text-align: center;
    .name-type{
      display: block;
      border-bottom: 1px solid @color-border;
      padding-bottom: 3px;
      margin-bottom: 3px;
    }
    .in-out{
      display: block;
      margin-bottom: 0;
    }
  }
  .address-customer{
    flex: 1 1 20%;
    max-width: 20%;
    max-height: 100%;
    box-sizing: border-box;
    text-align: center;
  }
  .time-lend{
    flex: 1 1 10%;
    max-width: 10%;
    max-height: 100%;
    box-sizing: border-box;
    text-align: center;
    .number-lend{
      font-weight: bold;
      font-size:@font-lg;
      color:@link-color;
      margin:0;
    }
    .unit-lend{
      font-size:16px;
      margin-bottom: 0;
    }
  }
  .qty-lend{
    flex: 1 1 20%;
    max-width: 20%;
    max-height: 100%;
    box-sizing: border-box;
    text-align: center;
    .amount{
      font-size:@font-lg;
      color:#646054;
      margin:0;
    }
    .unit-money{
      margin-bottom: 0;
    }
  }
  .date-lend{
    flex: 1 1 22%;
    max-width: 22%;
    max-height: 100%;
    box-sizing: border-box;
    text-align: right;
    padding:0;
    vertical-align:top;
    span{
      color:@link-color
    }
  }

}

.lend-list .item-slide{
  display: flex;
}


.block-analytic{
  text-align: center;
  .lable{
    font-size:@font-xlg;
    color:#999;
  }
  .result{
    font-size: @font-supper;
    color:@link-color;
  }
}
.child-pr {
  margin-top:30px;
  padding-bottom: 30px;
  width:100%;
  float: left;
  > div{
    font-size:24px;
    float:left;
  }
  .btn-tima{
    float:right;
  }
}
.call-support{
  background: url('../imgs/support.png') no-repeat left bottom;
  min-height: 140px;
  border-top:1px solid @color-border;
  padding: 58px 0 0 106px;
  font-size:24px;
  .support-tel{
    
  }
  .support-faq{
    img{
      display: inline-block;
      margin-right: 5px;
    }
    font-size:@font-lg;
  }
}


// BORROW LIST
.icon-star{
  display: inline-block!important;
}
.ls-borrow{
    flex: 1 1 25%;
    max-width: 25%;
    max-height: 100%;
    box-sizing: border-box;
    font-size:@font-lg;
    color:@link-color;
    span{
      font-size:@font-sm;
      color:@common-txt;
    }
}
.gia-borrow{
  
  display: inline-block;
  float: left;
  width: auto;
  sup{
    font-size:14px;
  }
  span{
    font-size:@font-lg;
  }
}
.unit-borrow{
  display: inline-block;
  float: left;
  width: auto;
  
}
// NEWS HOME
.ul-news{
  width:100%;
  float:left;
  overflow: hidden;
  li{
    max-width:24%;
    padding:0 20px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0px;
    .img-post{
      width:100%;
      float:left;
      margin-bottom: 5px;
      img{
        width:100%;
      }
    }
    .source-news{
      width:100%;
      float: left;
       border-bottom: 2px solid @color-border;
       margin-bottom:10px;
       padding-bottom: 8px;
      img{
        float:left;
      }
      .date-post{
        font-size:12px; 
        float:right;
        padding-top:7px;
        color:@common-txt;
      }
    }
    .title-news{
      display: block;
      clear: both;
      font-size:15px;
      color:@color-txt;
    }
  }
}
.wrap-news-slide{
  margin-left:-20px;
  margin-right:-20px;
}

// 2 DAU TU KHOAN VAY
.tab-section{
   padding:35px 0;
   ul.nav{
      li{
        display: inline-block;
        margin-right:50px;
        a{
          font-family: @font-UTM;
          font-size:@font-sm;
          color:@color-txt;
          text-transform: uppercase;
          position: relative;
          background: transparent;
          &:hover,&:focus{
            background:transparent;
            color:@link-color;
          }
          &:after{
            width:100%;
            height:1px;
            
            position: absolute;
            left:0;
            bottom:5px;
            z-index: 1;
            content: '';
          }
        }
        &.active{
          a{
            color:@link-color;
            &:after{
              background: @link-color;
            }
          }
        }
      }
   }
}

/* THONG KE - PAGE 2 */ 
.total-thongke{
  .border-section{
    padding-right:15px;
  }
}
.flex-display{
  display: flext;
}
.icon-thongke{
  width:45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  background-color: @link-color;
  display: inline-block;
  margin-right: 15px;
  font-size:16px;
  color:#fff;
  line-height: 45px;
  float: left;
}
.tongvay{
  font-size:@font-sm;
  margin-bottom: 0;

}
.numbertongvay{
  font-size: @font-lg;
  color:#646054;
}
.dat-vay-right{
  width:100%;
  border:1px solid @color-border;
  background:url('../imgs/right-bg.jpg') no-repeat center center;
  background-size: cover;
  min-height: 186px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slt-tima{
  width:100%!important;
  position: relative;
  height: 42px;
  .btn{
    border-radius: 0;
    border-color:@link-color;
    height: 42px;
    span{
      color:#646054;
      font-size:16px;
    }
  }
  .caret{
    border-width:6px;
    color:#646054;
  }
  .dropdown-menu,.dropdown-toggle{
    box-shadow:none!important;
  }
  .dropdown-menu{
    border-radius: 0;
    padding:0;
    color:#646054;
    font-size:16px;
    a{
      padding:5px 15px;
    }
  }
}
.don-xin{
  .date-lend{
    padding-right:23px;
  }
  .info-customer{
    flex: 1 1 15%;
    max-width: 15%;
  }
}
.action-col{
  flex: 1 1 22%;
  max-width: 22%;
  max-height: 100%;
  box-sizing: border-box;
  text-align: right;
  text-align: left;
  padding-right:0!important;
  .action-btn{
    margin:3px 5px;
  }
}
.action-btn{
  padding:0 13px;
  height:32px;
  line-height: 32px;
  text-align: center;
  background:#eaeaea;
  color:#000;
  font-size:14px;
  display: inline-block;
  &:hover,&:focus{
    background-color: darken(#eaeaea, 10%)
  }
}
.loat-left{
  float:left;
  display: inline-block;
}
.pagination-tima{
  display: inline-block;  
  float:right;
  margin:0;
  > li{
    > a{
      min-width:26px;
      height: 26px;
      line-height: 26px;
      text-align: center;
      padding:0 3px;
      margin:0 4.5px;
      border-radius: 0!important;
      color:#000;
      font-size:@font-sm;
      border-color:@color-border;
    }
    &.dot{
      a{
        border-color: transparent;
      }
    }
    &.active{
      a{
        color:#646054;
        // background-color: transparent;
        border-color:@color-border;
        background:#eee;
        &:hover{
          color:#646054;
          background:#eee;
          border-color:@color-border;
        }
      }
    }
  }
}
.makescroll{
  overflow: auto;
}

/* 4 LOGIN PAGE */
.login-section{
  margin-top:40px;
  .flex-login{
  }
}
.left-login,.right-login{
  border:1px solid @color-border;
}
.right-login{
  background:#fff;
}
.slick-dotted.slick-slider{
  margin-bottom: 0;
}
.left-login{
  width:100%;
  height:100%;
  overflow: hidden;
  text-align: center;
  .left-log-item{
    min-height: 550px;
    background-size: cover;
    background-position: center top;
  }
  .slick-dots{
    position: absolute;
    margin:0 auto;
    bottom:30px;
    padding:0;
    left:50%;
    margin-left: -50px;
    z-index: 9999;
    li{
      width:20px;
      height: 20px;
      border-radius: 50%;
      border:3px solid #fff;
      margin:0 3px;
      display: inline-block;
      &.slick-active{
        background-color: #fff;
      }
      button{
        display: none;
      }
    }
  }
}

.tab-login-signup{
  li{
    float: left;
    width:50%;
    a{
      padding:0;
      display: block;
      font-size:@font-sm;
      height: 45px;
      line-height: 45px;
      text-align: center;
      color:@color-txt;
    }
    &.active{
      a{
        background-color: @link-color;
        color:#fff;
      }
    }
  }
}
.signup-form{
  padding:5px 30px 15px;
  .error-message{
    display: none;
    color:red;
    padding-top:2px;
    .fa{
      display: inline-block;
      margin-right: 3px;
      font-size:11px;
    }
  }

  .slt-tima .btn span,.slt-tima .dropdown-menu{
    font-size:14px;
  }
  .radio{
    display: inline-block;
    width: auto;
    min-width:210px;
    max-width:100%;
  }
  .checkbox{
    margin-bottom: 25px;
  }
  .errors{
    // .input-tima{
    //   border-color:red;
    // }
    .error-message{
      display: block;
    }
  }
}
.form-control{
  height:38px;
  line-height: 38px;
  border:1px solid @color-border;
  border-radius: 0;
  box-shadow:none;
}
.hidden-group {
  visibility: hidden;
  height: 0;
  width:0;
  margin:0;
  padding: 0;
}
.login-frm{
  .checkbox{
    width:50%;
    margin-top:0;
  }
}
.radio,.checkbox,.underLable {
  display: inline-block;
  width:100%;

  /*user-select: none;*/
  span {
      font-weight: 400;
      text-align: left;
      vertical-align: middle;
      padding-left: 5px;
      display: inline-block;
      width:100%;
      position: absolute;
  }
  input {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      display: block;
      position: relative;
      z-index: 5;

    &:checked {
      & + i {
         background: @link-color;
        &:after {
          display: block;
        }
      }
    }
  }
  i {
    border: 1px solid @color-border;
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    transition: all 0.3s linear;
    vertical-align: middle;
    &:after {
      content :"";
      width: 8px;
      height: 5px;
      display: none;
      display: none;
      border-left: 1px solid white;
      border-bottom: 1px solid white;
      position: absolute;
      left: 50%;
      top: 40%;
      -webkit-transform: translate(-50%,-50%) rotate(-45deg);
      transform: translate(-50%,-50%) rotate(-45deg);
    }
  }
}
.radio{
  span {
    margin-top:2px;
  }
  input {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      display: block;
      position: relative;
      z-index: 5;

    &:checked {
      & + i {
         background: #fff;
        &:after {
          background-color: @link-color;
          border-radius: 50%;
          display: block;
        }
      }
    }
  }
  i {

    border-radius: 50%;
    &:after {
      border:3px solid #fff;
      content :"";
      width: 8px;
      height: 8px;
      border:0;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%,-50%) rotate(-45deg);
      transform: translate(-50%,-50%) rotate(-45deg);
    }
  }
}
.btn-form{
  text-transform: uppercase;
  text-align: center;
  height:42px;
  border-radius: 3px;
  background-color: #ded9da;
  line-height: 42px;
  padding:0 15px;
  width:100%;
  box-shadow: 0;
  border:0;
  color:@color-txt;

  transition:all ease-in-out 0.3s;
  &:hover{
    background-color: darken(#ded9da, 10%)
  }
}
.hello{
  text-align: center;
  margin-top: 15px;
}
.forgot-pass{
  float:right;
}
.underline{
  text-decoration: underline;
}

/* 5 support pages */
.support-section{
  margin-top:40px;
  margin-bottom: 40px;
  
  .title-section{
    padding:15px 34px;
    border:1px solid @color-border;
    background-color: #fff;
    margin-bottom: 0;
  }
}
.search-support{
  float:right;
  .div-search{
    float:left;
    position: relative;
    margin-right: 80px;
    i{
      position: absolute;
      right:8px;
      top:9px;
      z-index: 1;
      color:#cacaca;
      font-size:14px;
    }
    .input-search{
      width:360px;
      font-size:14px;
      height: 34px;
      padding:0 42px 0 10px;
      line-height: 32px;
      color:#666;
    }
  }
  .sort-search{
    float:left;
    font-size:14px;
    font-family: @font-Roboto;
    text-transform: none;
    span,a{
      display: inline-block;
    }
    .title-sort{
      color:@color-txt;
      margin-right: 10px;
    }
    span.sep{
      margin:0 5px;
      color:@common-txt;
    }
  }
}

.support-content{
  .left-support{
    width:25%;
    float:left;
    position: relative;
    z-index: 2;
  }
  .right-support{
    width:75%;
    float:right;
    position: relative;
    padding:20px 34px;
    background-color: #fff;
    border:1px solid @color-border;
    border-top:0;
    min-height: 500px;
  }
  .tab-content{
    .panel-group{
      margin-bottom: 0;
    }
    .panel-group .panel{
      border-radius: 0;

    }
    .panel-heading{
      background:#f0f0f0;
      min-height: 43px;
      border-radius: 0;
      position: relative;
      .accordion-toggle{
        display: block;
        color:@color-txt;
        padding-right:15px;
      }
    }
    .panel-group .panel + .panel{
      margin-top: 25px;
    }
    .panel-heading .accordion-toggle:after {
        font-family: 'FontAwesome';  
        content: "\f0dd";  
        float: right;   
        font-size:16px;
        color:#b2b1b1;   
        position: absolute;
        top:50%;
        margin-top:-15px;
        right:15px;    
    }
    .panel-heading .accordion-toggle.collapsed:after {
        content: "\f0de";   
        font-size:16px;
        color:#b2b1b1;
        position: absolute;
        top:50%;
        margin-top:-10px;
        right:15px;  
    }
  }
}
.menu_support{
  border:1px solid @color-border;
  border-top:0;
  width:100%;
  background-color: #fff;
  li{
    min-height: 63px;
    padding:20px 0 20px 34px;
    border-bottom: 1px solid  @color-border;
    position: relative;
    a{
      font-size:16px;
      color:@color-txt;
      padding:0;
      &:hover,&:focus{
      background:transparent;
      }
      
    }
    &:hover,&:focus{
      background:transparent;
      a{
        color:@link-color;
        background-color: transparent;
      }
    }
    &.active{
      margin-right:-2px;
      background-color: #fff;
      &:before{
        content: '';
        width:6px;
        height:100%;
        position: absolute;
        top:0;
        left:0;
        background-color: @link-color;
      }
    }
    
  }
}

.no-result{
  padding:50px 0;
  display: block;
  overflow: hidden;
  .left-no-result,.right-no-result{
    min-height: 370px;
    display: flex;
    align-items:center;
    justify-content:center;
    
  }
  .left-no-result{
    border-right:1px solid @color-border;
    p{
      text-align: center;
    }
  }
  
}

// ABOUT
.list-info{
  margin-top:32px;
  margin-bottom: 32px;
}
.about-circle{
  width:63px;
  height: 63px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 15px;
  background-color:@link-color;
  text-align: center;
  line-height: 58px;
  margin-top: -5px;
  float: left;
  
}
.shop-icon{
  margin-top:-22px;
  margin-left: -28px;
  width:36px;

}
.about-info{
  display: inline-block;
  color:#999;
  font-size:16px;
  text-transform: uppercase;
  max-width: 120px;
  float:left;
  padding-top:5px;
}
.img_about{
  img{
    width:100%;
  }
}
.detail-about{
  padding-top:30px;
  color:@color-txt;
  font-size:16px;
  h3{
    font-weight: bold;
    text-transform: uppercase;
    color:@link-color;
  }
}

.first-section{
  margin-top: 40px;
}

/* report */
.ul-report{
  li{
    width: 100%;
    padding:25px 0;
    border-bottom: 1px solid  @color-border;
    &:first-child{
      padding-top:0;
    }
  }
}
.from-report {
  color:#a4a4a4;
  display: inline-block;
  margin-right: 5px;
}
.ct-report{
  color:@color-txt;
  display: inline-block;
}
.date-report{
  color:#a4a4a4;
  display: inline-block;
  float:right;
}
.report-nav{
  padding-top: 10px;
  padding-bottom: 25px;
  .pagination-tima{

  }
}

// NEWS PAGE
.news-page{
  .border-section{
    padding:15px 15px 20px;
  }
  .install{
    padding-top:10px;
    a{
      margin:0 auto;
      margin-bottom: 30px;
      &:last-child{
        margin-bottom: 10px;
      }
    }
    
  }
}
.up-news{
  width: 100%;
  float: left;
  margin-bottom: 20px;
}
.hot-news{
  border:1px solid @color-border;
  display: block;
  img{
    width:100%;
  }
}
.left-up{
  h3{
    font-weight: bold;
    font-size:24px;
    
    a{
      color:@color-txt;
      &:hover{
        color:@link-hover-color;
      }
    }
  }

}
.lead{
  font-size:16px;
  color:#6f6d6e;
  font-family: @font-Roboto;
  margin-bottom: 0;
}
.right-up{
  ul{
    width:100%;
    padding-right: 0px;
    li{
      margin-bottom: 10px;
      width:100%;
      float: left;
    }
  }
}
.list-news-img{
  display: block;
  border:1px solid @color-border;
  img{
    width:100%;
  }
}
.list-title{
  a{
    font-size:16px;
    color: @color-txt;
    &:hover{
      color:@link-hover-color;
    }
  }
}




.under-news{
  width:100%;
  float: left;
  padding:0px 15px;
  .report-nav{
  width:100%;
  float: left;
  padding-top: 20px;
  padding-bottom: 0px;
  border-top:1px solid @color-border;
 }
}

.ul-news-page{
  width:100%;
  margin:0;
  padding:0;
  li{
    width:100%;
    float:left;
    margin-top:30px;
    padding-top: 30px;
     border-top:1px solid @color-border;
     &:first-child{
      margin-top:0;
     }
    .list-news-img{
      max-width: 223px;
      width:45%;
      float: left;
      margin-right:40px;
    }
    .list-title{
      margin-top: 0;
      a{
        font-size:18px;
        font-weight: bold;
        color: @color-txt;
        &:hover{
          color:@link-hover-color;
        }
      }
    }
  }
}

.date-news-post{
  color:#c6c6c6;
  font-size:16px;
  font-family: @font-Roboto;
}
.ul-faq{
  margin:-5px 0 0;
  position: relative;
  li{
    width:100%;
    float: left;
    border-bottom: 1px solid @color-border;
    padding-bottom:15px;
    margin-bottom: 12px;
    &:last-child{
      margin-bottom: 0;
      border-bottom: 0;
      padding-bottom:0;
    }
    a{
      display: block;
      padding-left:20px;
      position: relative;
      font-size:16px;
      color:@color-txt;
      &:hover{
          color:@link-hover-color;
        }
      i{
        position: absolute;
        z-index: 1;
        top:5px;
        left:0;
        color:#bdbbbe;
      }
      
    }
  }
}

.ul-news-right{
  margin-top: -10px;
  li{
     width:100%;
    float: left;
    border-bottom: 1px solid @color-border;
    padding-bottom:15px;
    margin-bottom: 12px;
    &:last-child{
      margin-bottom: 0;
      border-bottom: 0;
    }
    .source-news{
      margin-bottom: 10px;
    }
    .date-post{
      float: right;
      display: inline-block;
      font-size:12px;
      color:#c6c6c6;
      padding-top:10px;
    }
    .under-list{
      .img-post{
        width:87px;
        float:left;
        border:1px solid @color-border;
        margin-right:10px;
        img{
          width:100%;
        }
      }
      .title-news{
        font-size:14px;
        font-family: @font-Roboto;
        color:@color-txt;
         &:hover{
          color:@link-hover-color;
        }
      }
      
    }
  }
}

/* CAI DAT UNG DUNG */
.san{
  max-width:80%;
}
.setup-item{
  font-size:24px;
  text-align: center;
  font-weight: bold;
  .setup-img{
    width:100%;
    margin-bottom: 20px;
    text-align: center;
    img{
      width:80%;
      max-width: 100%;
      margin:0 auto;
    }
  }
  h3{
    text-transform: uppercase;
    text-align: center;
    color:@link-color;
  }
  p{
    color:@color-txt;
  }
}
.scan-code{
  text-align: center;
  margin-bottom: 10px;
}
.txt-scan-code{
  font-size:20px;
  text-transform: uppercase;
    text-align: center;
    color:@link-color;
  margin-bottom: 40px;
}
.right-code{
  .install{
    padding-top:10px;
    text-align: center;
    a{
      margin:0 auto;
      margin-bottom: 30px;
      &:last-child{
        margin-bottom: 10px;
      }
    }
    
  }
}

/* */
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'FontAwesome';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: #d2d4d4;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: 0px;
}
[dir='rtl'] .slick-prev
{
    right: 0px;
    left: auto;
}
.slick-prev:before
{
   content: "\f053";
}
[dir='rtl'] .slick-prev:before
{
    content: "\f054";
}

.slick-next
{
    right: 0px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: 0px;
}
.slick-next:before
{
    content: "\f054";
}
[dir='rtl'] .slick-next:before
{
    content: "\f053";
}
























































