//
// RESPONSIVE
// --------------------------------------------------
//
// TODO: Mobile First Responsive
// -------------------------------------

// Small devices (tablets, > 768px and up)
@media screen and (min-width: @screen-sm-min) {


	// Hook Mixin Render: Small devices (tablets, 768px and up)
	.hook-screen-sm-min;
	
}

// Medium devices (desktops, > 992px and up)
@media screen and (min-width: @screen-md-min) {


	// Hook Mixin Render: Medium devices (desktops, 992px and up)
	.hook-screen-md-min;
}

// Large devices (large desktops, > 1200px and up)
@media screen and (min-width: @screen-lg-min) {
	.container {
	    width: 1242px;
	}


	// Hook Mixin Render: Large devices (large desktops, > 1200px and up)
	.hook-screen-lg-min;
}

// TODO: Desktop First Responsive
// -------------------------------------

// Only for Medium devices and lower (<1199px)
@media screen and (max-width: @screen-md-max) {


	// Hook Mixin Render: Only for Medium devices and lower < 1199px
	.hook-screen-md-max;
}

// Only for Small devices and lower (<991px)
@media screen and (max-width: @screen-sm-max) {
	.container{
		width:100%;
	}

	// Hook Mixin Render: Only for Small devices and lower < 991px
	.hook-screen-sm-max;
}
// Only for Small devices and lower (<767px)
@media screen and (max-width: @screen-xs-max) {


	// Hook Mixin Render: Only for Small devices and lower < 767px
	.hook-screen-xs-max;
}


// Only for Medium devices and lower (<1199px)
@media screen and (max-width: @screen-md-max) {
	.news-page .install a, .right-code .install a{
		width:auto;
		max-width: 100%;
	}
	.right-hero{
		padding-left: 40px;
	}
	.child-pr > div {
	    font-size: 20px;
	}
	.child-pr .btn-tima{
		float:left;
		margin-top: 20px;
	}
	.lend-section .right-border{
		margin-bottom:30px;
	}
	.numbertongvay{
		font-size:16px;
	}
	.install a{
		width:40%; 
		max-width:185px;
		display: inline-block;
	}


}


// Only for Small devices and lower (<991px)
@media screen and (max-width: @screen-sm-max) {
	.ul-report{
	  li{
	    width: 100%;
	    padding:15px 0;
	  }
	}
	/* 5 support pages */
	
	.title-section{
		display: block;
		overflow: hidden;
	}
	.support-content{
		.tab-content{
			.panel-group .panel + .panel{
		      margin-top: 15px;
		    }
		}
	}
	.search-support{
		width:100%;
		float:left;
		padding:15px 0 10px;
		
	}
	.sort-search{
		margin-top:5px;
	}
	/* End 5 support pages */
	.hide-sm{
		display: none;
	}
	.spanHotline{
	  padding-right:8px;
	}

	.nav-tima{
		margin-bottom: 0;
		border:0;
		.in-nav-tima{
			padding-left:102px;
		}
		.navbar-header{
			width:102px;
			top:20px;
			left:0px;
			z-index:1;
			position: absolute;
		}
		.navbar-brand{
			padding:0;
			height:auto;
		}
		.collapse-tima{
			.nav-login{
				margin-top:12px;
				li{
					a{
						padding:0 8px;
					}
				}
			}
			.main-menu{
				margin-top:21px;
				border:1px solid @color-border;
				border-left:0;
				border-bottom:0;
				li{
					border-left:1px solid @color-border;
					display: inline-block;
					a{
						font-weight:bold;
						font-size:14px;
						color: @color-txt;
						text-transform: uppercase;
						padding:0 8px;
						height:45px;
						line-height: 45px;
						&:hover,&:focus{
							color:@link-hover-color;
							background:transparent;
						}
					}
				}
			}
		}
	}
	//
	// TODO: Footer Style
	//==================================================
	#footer{
	  ul{
	    padding:0;
	    list-style-type: none;
	    li{
	      display: block;
	      margin:0 0 5px;
	    }
	  }
	}
	.copyR{
	  margin:5px 0 0;
	  color:#8f8787;
	}
	.hot-txt{
	  color:#8f8787;
	  text-transform: uppercase;
	  margin:20px 0 0;
	}
	.num-tel{
	  font-size:35px;
	  color:@link-color;
	  margin:-5px 0 5px;
	  position: relative;
	}
	.email-txt{
		margin-bottom:20px;
	}
	.cta{
	  margin:0 0 15px;
	  text-align: left;
	}
	.install{
	  text-align: left;
	  a{
	    display: inline-block;
	    margin:0 0 0 10px;
	    max-width:185px;
	    img{
	    	width:70%;
	    }
	  }
	}
	// Hero banner
	.defautl-section{
	  margin-bottom:30px;
	}
	.hero-section{
	  padding:20px 0 50px; 
	}

	// TIMA
	.right-border{
	  border-right:0;
	  padding-right:15px;
	}
	.tima-section{
	  ul{
	    padding-left:0px;
	   }
	}

	// LEND LIST
	.call-support{
		min-height: 0;
	  padding: 30px 0 30px 106px;
	  font-size:20px;
	  .support-tel{
	    margin-bottom: 15px;
	  }
	  .support-faq{
	  	margin-bottom: 10px;
	  	display: block;
	    font-size:@font-xlg;
	  }
	}
	.wrap-table{
		padding-bottom: 20px;
	}
	.border-section{
		padding:15px;
	}
	.title-section{
		padding-bottom: 10px;
	}
	.slt-tima{
		margin-bottom: 10px;
	}
	.dat-vay-right{
		margin-top:20px;
		min-height: 106px;
	}
	.item-slide > div{
		padding:0 13px;
	}

	.flex-login .main-signup-login{
		width:100%!important;
	}

	.no-result{
	  padding:50px 0;
	  display: block;
	  overflow: hidden;
	  .left-no-result,.right-no-result{
	    min-height: 70px;
	    display: block;
	  }
	  .left-no-result{
	  	border-right: 0;
	  	margin-bottom: 30px;
	    border-bottom:1px solid @color-border;
	    p{
	      text-align: left;
	    }
	  }
	  
	}

	.setup-app{
		margin-top:30px;
	}




}



// Only for Small devices and lower (<767px)
@media screen and (max-width: @screen-xs-max) {
	.right-code{
		margin-top: 20px;
	}
	.setup-app{
		margin-top:20px;
	}
	.ul-news-right,.ul-faq,.ul-news-page{
	  li{
	    	&:last-child{
	      		padding-bottom:15px;
	    	}	
	   }
	}
	.list-info{
		margin-top: 15px;
		margin-bottom: 0px;
		> div{
			margin-bottom: 15px;
			width:100%;
			float: left;
			min-height: 63px;
		}
	}
	.guide{
	  z-index: 9;
	}
	.ul-report{
	  li{
	    .row{
	    	> div{
	    		width:100%;
	    		float: left;
	    		text-align: left;
	    		span{
	    			float: left;
	    		}
	    	}
	    }
	  }
	}
	/* 5 support pages */
	.support-section{
	  margin-top:20px;
	  margin-bottom: 20px;
	  .title-section{
	    padding:15px;
	    display: block;
		overflow: hidden;
	  }
	}	
	.search-support{
		width:100%;
		float:left;
		padding:15px 0 10px;
		.div-search{
			margin-right: 0;
			width:100%;
			.input-search{
				width:100%;
			}
		}
	}
	.sort-search{
		margin-top:15px;
	}

	.menu_support{
		li{
			padding-left: 15px;
		}
	}

	/* End 5 support pages */
	.in-nav-tima ul.navbar-nav{
		width:100%;
	}
	.signup-form{
		padding:5px 15px 10px;
	}
	.btn-form{
		margin-top: 20px;
	}
	.nav-tima{
		margin-bottom: 0;
		margin-left:-15px;
		margin-right:-15px;
		border:0;
		.in-nav-tima{
			padding:0 15px;
		}
		.navbar-header{
			width:100%;
			position: static;
		}
		.navbar-brand{
			width:102px;
			margin-top:10px;
		}
		.navbar-toggle{
			margin-top:20px;
			margin-right:0;
		}
		.collapse-tima{
			border:0;
			ul{
				margin:0;
				li{
					width:100%;
					text-align: left;
					border-bottom: 1px solid @color-border;
				}
			}
			.nav-login{
				margin-top:0px;
				text-transform: uppercase;
				font-weight:bold;
				li{
					a{
						padding:10px 0;
						display: block;
						font-size:14px;
					}
					span{
						display: none;
					}
					&.before-contact{
						border-bottom: none;
					}
					&.contact-top{
						img{
							margin:0 8px 8px 10px;
						}
						a{
							padding-top:0;
							display: inline-block;
							font-size:@font-md;
						}
					}
					&:first-child{
						border-top: 1px solid @color-border;
					}

				}
			}
			.main-menu{
				margin-top:0;
				border:0;
				border-left:0;
				border-bottom:0;
				li{
					border-left:0;
					display: inline-block;
					a{
						font-weight:bold;
						font-size:14px;
						color: @color-txt;
						text-transform: uppercase;
						padding:0 ;
						height:45px;
						line-height: 45px;
						&:hover,&:focus{
							color:@link-hover-color;
							background:transparent;
						}
					}
					&:last-child{
						border-bottom: 0;
					}
				}
			}
		}
	}
	//
	// TODO: Footer Style
	//==================================================
	#footer{
		padding:15px 0 25px;
	}
	.install{
	  text-align: left;
	  a{
	    display: inline-block;
	    margin:0 10px 0 0;
	    max-width:40%;
	    img{
	    	width:100%;
	    }
	  }
	}
	// HERO SECTION
	.defautl-section{
	  margin-bottom:20px;
	}
	.btn-tima{
	    height:45px;
	    line-height: 45px;
	    border-radius: 3px;
	    background:@link-color;
	    font-size:@font-md;
	    text-transform: uppercase;
	    padding:0 35px;
	    display: inline-block;
	    transition:all ease-in-out 0.3s;
	    color:#fff;
	    &:hover{
	      background:darken(@link-color, 10%);
	      color:#fff;
	      text-decoration: none;
	      cursor: pointer;
	    }
	    &.btn-tima-dark{
	        background:@color-txt;
	        &:hover{
	          background:darken(@color-txt, 10%);
	        }
	    }
	}
	.hero-section{
	  padding:20px 0; 
	}
	ul.list-hero{
	  max-width: 100%;
	  li{
	      font-size:@font-md;
	      color:@color-txt;
	  }
	}
	.left-hero,.right-hero{
		padding-bottom: 30px;
		.title-hero{
			text-align: left;
		}
	}
	.left-hero{
	  padding-right:0px;
	  padding-bottom: 30px;
	  
	  .btn-hero{
	    margin-right:0px;
	    text-align: left;
	  }
	  ul.list-hero{
	  	float:left;
	  }
	}
	.right-hero{
	  text-align: left;
	  padding-left:0;
	  .title-hero{
	    color:@link-color;
	  }
	  ul.list-hero{
	    margin-bottom: 25px;
	    float:left;
	    max-width:210px;
	    text-align: left;
	    li{
	      background:url('../imgs/arrows.png') no-repeat left 8px;
	      padding:0 0 0 35px;
	      margin:0 0 15px;
	    }
	  }
	  .btn-hero{
	    margin-left:0;
	  }
	}
	
	// LEND LIST
	
	.title-section{
		font-size:16px;
	}
	.scrollable{
		min-height: auto;
	}
	.call-support{

		min-height: 0;
	  	padding: 20px 0 ;
	  	background: none;
	  	font-size:20px;
	  .support-tel{
	    margin-bottom: 15px;
	  }
	  .support-faq{
	  	margin-bottom: 10px;
	  	display: block;
	    font-size:@font-xlg;
	  }
	}
	.wrap-table{
		padding-bottom: 20px;
	}


	.support-content .right-support{
		padding: 15px 20px;
		min-height: 200px!important;
	}
	.img_about{
	  img{
	    width:100%;
	    margin-bottom: 15px;
	  }
	}
	.detail-about{
		padding-top: 5px;
	}




}