block bottom

// build:js js/scripts.min.js
script(src="js/vendor/jquery.min.js")
script(src="js/vendor/modernizr-2.8.3.min.js")
script(src="js/bootstrap/bootstrap.min.js")
block script
script(src="js/vendor/slick.min.js")
script(src="js/vendor/bootstrap-select.js")
script(src="js/custom.js")
// endbuild