.container
	.row
		.col-md-4
			.row
				.col-xs-6 
					ul
						li
							a(href='index.html') Trang chủ
						li
							a(href='2_dautuchovay.html') Cần một khoản vay
						li
							a(href='3_canchovay.html') Đầu tư cho vay
				.col-xs-6
					ul
						li
							a(href='5_about.html') Giới thiệu tima
						li
							a(href='login.html') Đăng nhập
			p.copyR
				| © 2015 Bản quyền thuộc về Tima
						
		                    
		.col-md-8
			.row
				.col-md-5.right-border-footer
					p.hot-txt
						|hotline
					p.num-tel 1800 6919
					p.email-txt
						a(href='mailto:support@tima.vn')
							|Email: support@tima.vn
				.col-md-7
					p.cta
						|Bạn đã sẵn sàng trải nghiệm vay nhanh cùng Tima?
					div.install
						a(href="#")
							img(src="imgs/icon-apple.png")
						a(href="#")
							img(src="imgs/icon-android.png")

















