head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	title #{title}
	meta(name="description", content="Page description")
	meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

	link(rel="shortcut icon", href="ico/favicon.ico" type="image/x-icon")
	link(rel="apple-touch-icon" , href="ico/apple-touch-icon.png")

	link(href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" ,rel="stylesheet")
	link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700", rel="stylesheet")
	link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
	link(href="css/slick.css", rel="stylesheet", type="text/css")
	link(href="css/slick-theme.css", rel="stylesheet", type="text/css")
	// build:css css/style.min.css
	block style
	link(href="css/bootstrap-select.min.css", rel="stylesheet", type="text/css")
	link(href="css/styles.css", rel="stylesheet", type="text/css")
	// endbuild
