.container
      nav.navbar.navbar-default.nav-tima
        .in-nav-tima
          // Brand and toggle get grouped for better mobile display
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='index.html')
              img(src='imgs/logo.png')
          // Collect the nav links, forms, and other content for toggling
          #bs-example-navbar-collapse-1.collapse.navbar-collapse.collapse-tima
            ul.nav.navbar-nav.nav-login
              li
                a(href='signup.html') Đăng ký
                span
                  | |
              li
                a(href='login.html') Đăng nhập
                span
                  | |
              li
                a(href='6_report.html') Thông báo
                span
                  | |
              li.before-contact
                a(href='5_support.html') Trung tâm hỗ trợ 
                span
                  | |
              li.contact-top
                img(src='imgs/icon-iphone.png')
                span.spanHotline
                  | | 
                |  Hotline:
                a(href='tel:1800 6919',style="padding-left:5px;") 1800 6919
            ul.nav.navbar-nav.main-menu
              li
                a(href='index.html') Trang chủ
              li
                a(href='2_dautuchovay.html') Cần một khoản vay
              li
                a(href='3_canchovay.html') Đầu tư cho vay
              li
                a(href='5_about.html') Giới thiệu tima
              li
                a(href='login.html') Đăng nhập
          // /.navbar-collapse
        // /.container-fluid