extends layouts/layout-full.pug

block config
    - var title = 'Dau tu cho vay'

block script
    script(src="js/vendor/holder.js")

block content
    .wrap-content
        .default-section.tab-section
            .container
                ul.nav(role="tablist")
                    li.active(role="presentation")
                        a(href="#home",aria-controls="home", role="tab" data-toggle="tab") Menu 1
                    li(role="presentation")
                        a(href="#profile",aria-controls="profile", role="tab" data-toggle="tab") Menu 2
                //- .tab-content
                //-     #home.tab-pane.fade.in.active(role="tabpanel")  home
                //-     #profile.tab-pane.fade.in(role="tabpanel")  profile
        
        .defautl-section.total-thongke
            .container
                .row
                    .col-md-9
                        .border-section
                            .title-section
                                |Thống kê
                            .number-thongke
                                .row
                                    .col-md-4
                                        .icon-thongke VNĐ
                                        p.tongvay Tổng tiền cho vay
                                        p.numbertongvay 33,425,517,035.34
                                    .col-md-4
                                        .icon-thongke 
                                            img(src="imgs/users2.png")
                                        p.tongvay Tổng số người vay
                                        p.numbertongvay  2,929,979
                                    .col-md-4
                                        .icon-thongke
                                            img(src="imgs/growth.png")
                                        p.tongvay Tổng lợi nhuận
                                        p.numbertongvay 1,233,017,281.18

                    .col-md-3
                        .dat-vay-right
                            a.btn-tima Đăng ký cho vay


        .defautl-section.filter-search
            .container
                .border-section(style="overflow:visible")
                    .row
                        .col-md-9
                            .title-section
                                |Tìm kiếm
                        .col-md-12
                            .row
                                .col-md-3
                                    select.selectpicker.slt-tima
                                        option Tổng tiền cho vay
                                        option Ketchup
                                        option Relish
                                .col-md-3
                                    select.selectpicker.slt-tima
                                        option Gói vay
                                        option Ketchup
                                        option Relish
                                .col-md-3
                                    select.selectpicker.slt-tima
                                        option Thành phố    
                                        option Ketchup
                                        option Relish
                                .col-md-3
                                    select.selectpicker.slt-tima
                                        option Quận huyện
                                        option Ketchup
                                        option Relish
                    


        .defautl-section.lend-section.don-xin
            .container
                .border-section
                    .makescroll
                        .scrollable
                            .title-section
                                |Danh sách đơn xin được chuyển tới bạn
                            .big-section.lend-list
                                div.item-slide
                                    .icon-person
                                        img(src="imgs/girl.png")
                                    .info-customer.border-tbl
                                        p.name-cus Chi Van
                                        p.tel-cus 09x xxxxxx3
                                    .type-lend.border-tbl
                                        p.name-type Tín chấp
                                        p.in-out Ngân hàng
                                    .type-lend.border-tbl.address-customer
                                        p.name-type Hai Bà Trưng
                                        p.in-out Hà Nội
                                    .time-lend.border-tbl
                                        p.number-lend 3
                                        p.unit-lend Tháng
                                    .qty-lend.border-tbl
                                        p.amount 10.000.000
                                        p.unit-money Triệu đồng
                                    .date-lend.border-tbl
                                        span 15:30  
                                        | | 17/07/2017
                                    .action-col
                                        a.action-btn(href="#") Nhận đơn
                                        a.action-btn(href="#") Hủy
                                div.item-slide
                                    .icon-person
                                        img(src="imgs/girl.png")
                                    .info-customer.border-tbl
                                        p.name-cus Chi Van
                                        p.tel-cus 09x xxxxxx3
                                    .type-lend.border-tbl
                                        p.name-type Tín chấp
                                        p.in-out Ngân hàng
                                    .type-lend.border-tbl.address-customer
                                        p.name-type Hai Bà Trưng
                                        p.in-out Hà Nội
                                    .time-lend.border-tbl
                                        p.number-lend 3
                                        p.unit-lend Tháng
                                    .qty-lend.border-tbl
                                        p.amount 10.000.000
                                        p.unit-money Triệu đồng
                                    .date-lend.border-tbl
                                        span 15:30  
                                        | | 17/07/2017
                                    .action-col
                                        a.action-btn(href="#") Nhận đơn
                                        a.action-btn(href="#") Hủy
                                div.item-slide
                                    .icon-person
                                        img(src="imgs/girl.png")
                                    .info-customer.border-tbl
                                        p.name-cus Chi Van
                                        p.tel-cus 09x xxxxxx3
                                    .type-lend.border-tbl
                                        p.name-type Tín chấp
                                        p.in-out Ngân hàng
                                    .type-lend.border-tbl.address-customer
                                        p.name-type Hai Bà Trưng
                                        p.in-out Hà Nội
                                    .time-lend.border-tbl
                                        p.number-lend 3
                                        p.unit-lend Tháng
                                    .qty-lend.border-tbl
                                        p.amount 10.000.000
                                        p.unit-money Triệu đồng
                                    .date-lend.border-tbl
                                        span 15:30  
                                        | | 17/07/2017
                                    .action-col
                                        a.action-btn(href="#") Nhận đơn
                                        a.action-btn(href="#") Hủy

        .defautl-section.lend-section.don-xin
            .container
                .border-section
                    .makescroll
                        .scrollable
                            .title-section
                                span.float-left
                                    |Danh sách đơn xin vay mới trên toàn hệ thống
                                
                                ul.pagination.pagination-tima
                                    li.active
                                        a(href='#') 1
                                    li
                                        a(href='#') 2
                                    li
                                        a(href='#') 3
                                    li.dot
                                        a(href='#') ...
                                    li
                                        a(href='#') 6
                                    
                            .big-section.lend-list
                                div.item-slide
                                    .icon-person
                                        img(src="imgs/girl.png")
                                    .info-customer.border-tbl
                                        p.name-cus Chi Van
                                        p.tel-cus 09x xxxxxx3
                                    .type-lend.border-tbl
                                        p.name-type Tín chấp
                                        p.in-out Ngân hàng
                                    .type-lend.border-tbl.address-customer
                                        p.name-type Hai Bà Trưng
                                        p.in-out Hà Nội
                                    .time-lend.border-tbl
                                        p.number-lend 3
                                        p.unit-lend Tháng
                                    .qty-lend.border-tbl
                                        p.amount 10.000.000
                                        p.unit-money Triệu đồng
                                    .date-lend.border-tbl
                                        span 15:30  
                                        | | 17/07/2017
                                    .action-col
                                        a.action-btn(href="#") Đã duyệt
                                div.item-slide
                                    .icon-person
                                        img(src="imgs/boy.png")
                                    .info-customer.border-tbl
                                        p.name-cus Anh Thanh
                                        p.tel-cus 09x xxxxxx3
                                    .type-lend.border-tbl
                                        p.name-type Tín chấp
                                        p.in-out Ngân hàng
                                    .type-lend.border-tbl.address-customer
                                        p.name-type Hai Bà Trưng
                                        p.in-out Hà Nội
                                    .time-lend.border-tbl
                                        p.number-lend 12
                                        p.unit-lend Tháng
                                    .qty-lend.border-tbl
                                        p.amount 10.000.000
                                        p.unit-money Triệu đồng
                                    .date-lend.border-tbl
                                        span 15:30  
                                        | | 17/07/2017
                                    .action-col
                                        a.action-btn(href="#") Đã duyệt
                                div.item-slide
                                    .icon-person
                                        img(src="imgs/girl.png")
                                    .info-customer.border-tbl
                                        p.name-cus Chi Van
                                        p.tel-cus 09x xxxxxx3
                                    .type-lend.border-tbl
                                        p.name-type Tín chấp
                                        p.in-out Ngân hàng
                                    .type-lend.border-tbl.address-customer
                                        p.name-type Hai Bà Trưng
                                        p.in-out Hà Nội
                                    .time-lend.border-tbl
                                        p.number-lend 3
                                        p.unit-lend Tháng
                                    .qty-lend.border-tbl
                                        p.amount 10.000.000
                                        p.unit-money Triệu đồng
                                    .date-lend.border-tbl
                                        span 15:30  
                                        | | 17/07/2017
                                    .action-col
                                        a.action-btn(href="#") Đã duyệt
                                div.item-slide
                                    .icon-person
                                        img(src="imgs/boy.png")
                                    .info-customer.border-tbl
                                        p.name-cus Anh Thanh
                                        p.tel-cus 09x xxxxxx3
                                    .type-lend.border-tbl
                                        p.name-type Tín chấp
                                        p.in-out Ngân hàng
                                    .type-lend.border-tbl.address-customer
                                        p.name-type Hai Bà Trưng
                                        p.in-out Hà Nội
                                    .time-lend.border-tbl
                                        p.number-lend 12
                                        p.unit-lend Tháng
                                    .qty-lend.border-tbl
                                        p.amount 10.000.000
                                        p.unit-money Triệu đồng
                                    .date-lend.border-tbl
                                        span 15:30  
                                        | | 17/07/2017
                                    .action-col
                                        a.action-btn(href="#") Đã duyệt
                                div.item-slide
                                    .icon-person
                                        img(src="imgs/girl.png")
                                    .info-customer.border-tbl
                                        p.name-cus Chi Van
                                        p.tel-cus 09x xxxxxx3
                                    .type-lend.border-tbl
                                        p.name-type Tín chấp
                                        p.in-out Ngân hàng
                                    .type-lend.border-tbl.address-customer
                                        p.name-type Hai Bà Trưng
                                        p.in-out Hà Nội
                                    .time-lend.border-tbl
                                        p.number-lend 3
                                        p.unit-lend Tháng
                                    .qty-lend.border-tbl
                                        p.amount 10.000.000
                                        p.unit-money Triệu đồng
                                    .date-lend.border-tbl
                                        span 15:30  
                                        | | 17/07/2017
                                    .action-col
                                        a.action-btn(href="#") Đã duyệt
                                div.item-slide
                                    .icon-person
                                        img(src="imgs/boy.png")
                                    .info-customer.border-tbl
                                        p.name-cus Anh Thanh
                                        p.tel-cus 09x xxxxxx3
                                    .type-lend.border-tbl
                                        p.name-type Tín chấp
                                        p.in-out Ngân hàng
                                    .type-lend.border-tbl.address-customer
                                        p.name-type Hai Bà Trưng
                                        p.in-out Hà Nội
                                    .time-lend.border-tbl
                                        p.number-lend 12
                                        p.unit-lend Tháng
                                    .qty-lend.border-tbl
                                        p.amount 10.000.000
                                        p.unit-money Triệu đồng
                                    .date-lend.border-tbl
                                        span 15:30  
                                        | | 17/07/2017
                                    .action-col
                                        a.action-btn(href="#") Đã duyệt
                                div.item-slide
                                    .icon-person
                                        img(src="imgs/girl.png")
                                    .info-customer.border-tbl
                                        p.name-cus Chi Van
                                        p.tel-cus 09x xxxxxx3
                                    .type-lend.border-tbl
                                        p.name-type Tín chấp
                                        p.in-out Ngân hàng
                                    .type-lend.border-tbl.address-customer
                                        p.name-type Hai Bà Trưng
                                        p.in-out Hà Nội
                                    .time-lend.border-tbl
                                        p.number-lend 3
                                        p.unit-lend Tháng
                                    .qty-lend.border-tbl
                                        p.amount 10.000.000
                                        p.unit-money Triệu đồng
                                    .date-lend.border-tbl
                                        span 15:30  
                                        | | 17/07/2017
                                    .action-col
                                        a.action-btn(href="#") Đã duyệt
                                div.item-slide
                                    .icon-person
                                        img(src="imgs/boy.png")
                                    .info-customer.border-tbl
                                        p.name-cus Anh Thanh
                                        p.tel-cus 09x xxxxxx3
                                    .type-lend.border-tbl
                                        p.name-type Tín chấp
                                        p.in-out Ngân hàng
                                    .type-lend.border-tbl.address-customer
                                        p.name-type Hai Bà Trưng
                                        p.in-out Hà Nội
                                    .time-lend.border-tbl
                                        p.number-lend 12
                                        p.unit-lend Tháng
                                    .qty-lend.border-tbl
                                        p.amount 10.000.000
                                        p.unit-money Triệu đồng
                                    .date-lend.border-tbl
                                        span 15:30  
                                        | | 17/07/2017
                                    .action-col
                                        a.action-btn(href="#") Đã duyệt
                                div.item-slide
                                    .icon-person
                                        img(src="imgs/girl.png")
                                    .info-customer.border-tbl
                                        p.name-cus Chi Van
                                        p.tel-cus 09x xxxxxx3
                                    .type-lend.border-tbl
                                        p.name-type Tín chấp
                                        p.in-out Ngân hàng
                                    .type-lend.border-tbl.address-customer
                                        p.name-type Hai Bà Trưng
                                        p.in-out Hà Nội
                                    .time-lend.border-tbl
                                        p.number-lend 3
                                        p.unit-lend Tháng
                                    .qty-lend.border-tbl
                                        p.amount 10.000.000
                                        p.unit-money Triệu đồng
                                    .date-lend.border-tbl
                                        span 15:30  
                                        | | 17/07/2017
                                    .action-col
                                        a.action-btn(href="#") Đã duyệt
                                div.item-slide
                                    .icon-person
                                        img(src="imgs/boy.png")
                                    .info-customer.border-tbl
                                        p.name-cus Anh Thanh
                                        p.tel-cus 09x xxxxxx3
                                    .type-lend.border-tbl
                                        p.name-type Tín chấp
                                        p.in-out Ngân hàng
                                    .type-lend.border-tbl.address-customer
                                        p.name-type Hai Bà Trưng
                                        p.in-out Hà Nội
                                    .time-lend.border-tbl
                                        p.number-lend 12
                                        p.unit-lend Tháng
                                    .qty-lend.border-tbl
                                        p.amount 10.000.000
                                        p.unit-money Triệu đồng
                                    .date-lend.border-tbl
                                        span 15:30  
                                        | | 17/07/2017
                                    .action-col
                                        a.action-btn(href="#") Đã duyệt