extends layouts/layout-full.pug

block config
    - var title = '3 Can cho vay'

block script
    script(src="js/vendor/holder.js")

block content
    .wrap-content
        .defautl-section.filter-search.first-section
            .container
                .border-section(style="overflow:visible")
                    .row
                        .col-md-9
                            .title-section
                                | Giới thiệu về tima
                        .col-md-12
                            .row.img_about
                                .col-sm-6
                                    img(src="imgs/about_1.jpg")
                                .col-sm-6
                                    img(src="imgs/about_2.jpg")
                            .detail-about
                                p
                                    | Với số vốn đầu tư ban đầu 150 tỷ VNĐ, TIMA bắt đầu tham gia thị trường tài chính công nghệ từ năm 2015 với vai trò là nhà cung cấp nền tảng công nghệ cho vay ngang hàng (P2P) đầu tiên tại Việt Nam. Tháng 6 năm 2016, TIMA bắt đầu triển khai dịch vụ cho vay tín chấp trực tuyến, cung cấp dịch vụ tư vấn tài chính đơn giản, nhanh chóng và tin cậy đến khách hàng trên Toàn Quốc.
                                h3 ĐƠN GIẢN

                                p TIMA cung cấp dịch vụ thuận tiện cho phép bạn đăng ký khoản vay online, duyệt thông tin đăng ký nhanh qua điện thoại, ký hợp đồng tại địa điểm khách hàng chỉ định. Thủ tục đơn giản, điều kiện cho vay linh hoạt giúp bạn dễ dàng tiếp cận nguồn vốn cần thiết.
                                
                                h3 NHANH CHÓNG

                                p Sau khi điền thông tin vào mẫu đơn, chúng tôi sẽ gọi điện cho bạn trong vòng 30 phút để thông báo số tiền được duyệt về khoản vay. Ngay sau khi ký hợp đồng bạn có thể nhận được tiền giải ngân thông qua tài khoản ngân hàng hoặc tại hơn 4000 điểm giao dịch của đối tác trên Toàn Quốcản, điều kiện cho vay linh hoạt giúp bạn dễ dàng tiếp cận nguồn vốn cần thiết.

                                h3 TIN CẬY

                                p TIMA sở hữu hệ thống điểm giao dịch trên toàn quốc, cung cấp dịch vụ tư vấn tài chính chất lượng cao. Chúng tôi cung cấp đầy đủ và trung thực các thông tin về khoản vay, lãi và chi phí liên quan khi đăng ký khoản vay. Bạn sẽ được tư vấn tận tình và chu đáo từ tổng đài tư vấn miễn phí 1800 6919 để cân nhắc trước khi quyết định mà không phải lo lắng về các khoản phí dịch vụ không rõ ràng.
                    .row.list-info
                        .col-md-3.col-sm-6
                            .about-circle
                                img(src="imgs/calendar.png")

                            p.about-info
                                | Trụ sở chính tại Hà Nội
                        .col-md-3.col-sm-6
                            .about-circle
                                img(src="imgs/map.png")

                            p.about-info
                                | Số lượng 300 nhân viên
                        .col-md-3.col-sm-6
                            .about-circle
                                img(src="imgs/user-about.png")

                            p.about-info
                                | TSố lượng 41 cửa hàng
                        .col-md-3.col-sm-6
                            .about-circle
                                img.shop-icon(src="imgs/shop.png")

                            p.about-info
                                | Thành lập năm 2016


                    
        
                                

        

        