extends layouts/layout-full.pug

block config
    - var title = 'Dau tu cho vay'

block script
    script(src="js/vendor/holder.js")

block content
    .wrap-content
        .default-section.support-section
            .container
                .title-section
                    |Trung tâm trợ giúp
                    .search-support
                        .div-search
                            i.fa.fa-search
                            input.input-tima.input-search(placeholder="Nhập từ khóa tìm kiếm")
                        .sort-search
                            span.title-sort Tìm kiếm phổ biến:
                            a(href="#") đối tác   
                            span.sep | 
                            a(href="#") vay nhanh 
                            span.sep | 
                            a(href="#") giải ngân trong ngày
                .support-content
                    .left-support
                        ul.nav.menu_support(role="tablist")
                            li.active(role="question")
                                a(href="#question",aria-controls="question", role="tab" data-toggle="tab") Câu hỏi
                            li(role="invest")
                                a(href="#invest",aria-controls="invest", role="tab" data-toggle="tab") Đầu tư và nạp tiền
                            li(role="change")
                                a(href="#change",aria-controls="profile", role="tab" data-toggle="tab") Chuyển đổi và rút tiền
                    .right-support
                        .tab-content
                            #question.tab-pane.fade.in.active(role="tabpanel")  
                                #accordion.panel-group
                                    .panel.panel-default
                                        .panel-heading
                                            h4.panel-title
                                            a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
                                                | Lorem ipsum dolor sit amet, aliquam id, mi mauris arcu vel ante diam, cras nec cum eu urna nonummy aliquam?
                                        #collapseOne.panel-collapse.collapse.in
                                            .panel-body
                                                p Lorem ipsum dolor sit amet, aliquam id, mi mauris arcu vel ante diam, cras nec cum eu urna nonummy aliquam. Consectetuer proin. Nunc est quis dui id proin, vivamus arcu est etiam mattis, quam pellentesque. Et mauris mauris bibendum volutpat pellentesque et, quisque rhoncus ante sagittis morbi. Ornare consequatur nibh ipsum quis montes, facilisis suspendisse, justo turpis rhoncus, tortor curabitur, libero netus non lorem ullamcorper eu. Laoreet non ut metus, arcu a ultricies pede arcu mi.
                                                p Lorem ipsum dolor sit amet, aliquam id, mi mauris arcu vel ante diam, cras nec cum eu urna nonummy aliquam. Consectetuer proin. Nunc est quis dui id proin, vivamus arcu est etiam mattis, quam pellentesque. Et mauris mauris bibendum volutpat pellentesque et, quisque rhoncus ante sagittis morbi. Ornare consequatur nibh ipsum quis montes, facilisis suspendisse, justo turpis rhoncus, tortor curabitur, libero netus non lorem ullamcorper eu. Laoreet non ut metus, arcu a ultricies pede arcu mi.

                                    .panel.panel-default
                                        .panel-heading
                                            h4.panel-title
                                            a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')
                                                | Lorem ipsum dolor sit amet, aliquam id, mi mauris arcu vel ante diam, cras nec cum eu urna nonummy aliquam?
                                        #collapseTwo.panel-collapse.collapse
                                            .panel-body
                                                | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                    .panel.panel-default
                                        .panel-heading
                                            h4.panel-title
                                            a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseThree')
                                                | Lorem ipsum dolor sit amet, aliquam id, mi mauris arcu vel ante diam?
                                        #collapseThree.panel-collapse.collapse
                                            .panel-body
                                                | Aorem ipsum dolor sit amet, aliquam id, mi mauris arcu vel ante diam, cras nec cum eu urna nonummy aliquam. Consectetuer proin. Nunc est quis dui id proin, vivamus arcu est etiam mattis, quam pellentesque. Et mauris mauris bibendum volutpat pellentesque et, quisque rhoncus ante sagittis morbi. Ornare consequatur nibh ipsum quis montes, facilisis suspendisse, justo turpis rhoncus, tortor curabitur, libero netus non lorem ullamcorper eu. Laoreet non ut metus, arcu a ultricies pede arcu mi.
                                    .panel.panel-default
                                        .panel-heading
                                            h4.panel-title
                                            a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseF')
                                                | Lorem ipsum dolor sit amet, aliquam id, mi mauris arcu vel ante diam, cras nec cum eu urna nonummy aliquam?
                                        #collapseF.panel-collapse.collapse
                                            .panel-body
                                                | Aorem ipsum dolor sit amet, aliquam id, mi mauris arcu vel ante diam, cras nec cum eu urna nonummy aliquam. Consectetuer proin. Nunc est quis dui id proin, vivamus arcu est etiam mattis, quam pellentesque. Et mauris mauris bibendum volutpat pellentesque et, quisque rhoncus ante sagittis morbi. Ornare consequatur nibh ipsum quis montes, facilisis suspendisse, justo turpis rhoncus, tortor curabitur, libero netus non lorem ullamcorper eu. Laoreet non ut metus, arcu a ultricies pede arcu mi.
                            #invest.tab-pane.fade(role="tabpanel")  
                                .row
                                    .no-result
                                        .col-md-6.left-no-result
                                                p 
                                                    | Xin lỗi, ko có kết quả tìm kiếm liên quan đến
                                                    br
                                                    | Hãy đến khu yêu cầu giúp đỡ để được trợ giúp
                                        .col-md-6.right-no-result
                                            .in-right-result
                                                p
                                                    img(src="imgs/mavach.jpg")
                                                p 
                                                    | Hoặc quét mã 2 chiều
                                                    br
                                                    | Cài thêm ứng dụng của Tima để được hỗ trợ



                            #change.tab-pane.fade(role="tabpanel")  Chuyển đổi và rút 
                    
                    
                        
  

        