extends layouts/layout-full.pug

block config
    - var title = '6 Report'

block script
    script(src="js/vendor/holder.js")

block content
    .wrap-content
        .defautl-section.filter-search.first-section
            .container
                .border-section(style="overflow:visible")
                    .row
                        .col-md-12
                            .title-section
                                | Trung tâm thông báo
                        .col-md-12
                            ul.ul.ul-report
                                li
                                    .row
                                        .col-sm-9
                                            span.from-report [Hệ thống thông báo]
                                            span.ct-report Thông báo về việc bảo trì hệ thống giờ đầu của ngày 16/07
                                        .col-sm-3
                                            span.date-report 14/07/2017
                                li
                                    .row
                                        .col-sm-9
                                            span.from-report [Hệ thống thông báo]
                                            span.ct-report Thông báo về việc bảo trì hệ thống giờ đầu của ngày 16/07
                                        .col-sm-3
                                            span.date-report 14/07/2017
                                li
                                    .row
                                        .col-sm-9
                                            span.from-report [Hệ thống thông báo]
                                            span.ct-report Thông báo về việc bảo trì hệ thống giờ đầu của ngày 16/07
                                        .col-sm-3
                                            span.date-report 14/07/2017
                                li
                                    .row
                                        .col-sm-9
                                            span.from-report [Hệ thống thông báo]
                                            span.ct-report Thông báo về việc bảo trì hệ thống giờ đầu của ngày 16/07
                                        .col-sm-3
                                            span.date-report 14/07/2017
                                li
                                    .row
                                        .col-sm-9
                                            span.from-report [Hệ thống thông báo]
                                            span.ct-report Thông báo về việc bảo trì hệ thống giờ đầu của ngày 16/07
                                        .col-sm-3
                                            span.date-report 14/07/2017
                                li
                                    .row
                                        .col-sm-9
                                            span.from-report [Hệ thống thông báo]
                                            span.ct-report Thông báo về việc bảo trì hệ thống giờ đầu của ngày 16/07
                                        .col-sm-3
                                            span.date-report 14/07/2017
                                li
                                    .row
                                        .col-sm-9
                                            span.from-report [Hệ thống thông báo]
                                            span.ct-report Thông báo về việc bảo trì hệ thống giờ đầu của ngày 16/07
                                        .col-sm-3
                                            span.date-report 14/07/2017
                                li
                                    .row
                                        .col-sm-9
                                            span.from-report [Hệ thống thông báo]
                                            span.ct-report Thông báo về việc bảo trì hệ thống giờ đầu của ngày 16/07
                                        .col-sm-3
                                            span.date-report 14/07/2017
                                li
                                    .row
                                        .col-sm-9
                                            span.from-report [Hệ thống thông báo]
                                            span.ct-report Thông báo về việc bảo trì hệ thống giờ đầu của ngày 16/07
                                        .col-sm-3
                                            span.date-report 14/07/2017
                                li
                                    .row
                                        .col-sm-9
                                            span.from-report [Hệ thống thông báo]
                                            span.ct-report Thông báo về việc bảo trì hệ thống giờ đầu của ngày 16/07
                                        .col-sm-3
                                            span.date-report 14/07/2017
                    .report-nav
                        ul.pagination.pagination-tima
                            li.active
                                a(href='#') 1
                            li
                                a(href='#') 2
                            li
                                a(href='#') 3
                            li.dot
                                a(href='#') ...
                            li
                                a(href='#') 6

                    
        
                                

        

        