extends layouts/layout-full.pug

block config
    - var title = '7 Tin tuc'

block script
    script(src="js/vendor/holder.js")

block content
    .wrap-content
        .default-section.tab-section
            .container
                ul.nav(role="tablist")
                    li.active(role="presentation")
                        a(href="#home",aria-controls="home", role="tab" data-toggle="tab") Menu 1
                    li(role="presentation")
                        a(href="#profile",aria-controls="profile", role="tab" data-toggle="tab") Menu 2
                //- .tab-content
                //-     #home.tab-pane.fade.in.active(role="tabpanel")  home
                //-     #profile.tab-pane.fade.in(role="tabpanel")  profile
        
        .defautl-section.news-page
            .container
                .row
                    .col-md-9
                        .border-section
                            .row
                                .up-news
                                    .col-md-8.col-sm-7.left-up
                                        a.hot-news(href="#")
                                            img(src="imgs/570.jpg")
                                        h3
                                            a(href="#") 'Chiêu độc' tiết kiệm tiền cho người độc thân
                                        p.lead
                                            |Quản lý tài chính cá nhân thế nào cho hợp lí là một vấn đề nan giải với những người độc thân bởi nhiều khi họ không kiểm soát được chi tiêu của mình, nhất là..

                                    .col-md-4.col-sm-5.right-up
                                        ul.ul
                                            li
                                                a.list-news-img(href="#")
                                                    img(src="imgs/221-1.jpg")
                                                h4.list-title
                                                    a(href="#") 2 năm làm 1 vị trí, nên nghỉ việc hay làm tiếp
                                            li
                                                a.list-news-img(href="#")
                                                    img(src="imgs/221-2.jpg")
                                                h4.list-title
                                                    a(href="#") 2 năm làm 1 vị trí, nên nghỉ việc hay làm tiếp
                                .under-news
                                    ul.ul.ul-news-page
                                        li
                                            a.list-news-img(href="#")
                                                img(src="imgs/221-3.jpg")
                                            h4.list-title
                                                a(href="#") 4 cách giúp cha mẹ tiết kiệm tiền hiệu quả cho tương lai của...
                                            p.date-news-post
                                                | 11/07/2017 10:42
                                            p.lead
                                                |Quản lý tài chính cá nhân thế nào cho hợp lí là một vấn đề nan giải với những người độc thân bởi nhiều khi họ không kiểm soát được chi tiêu của mình, nhất là..
                                        li
                                            a.list-news-img(href="#")
                                                img(src="imgs/221-4.jpg")
                                            h4.list-title
                                                a(href="#") 2 năm làm 1 vị trí, nên nghỉ việc hay làm tiếp
                                            p.date-news-post
                                                | 11/07/2017 10:42
                                            p.lead
                                                |Quản lý tài chính cá nhân thế nào cho hợp lí là một vấn đề nan giải với những người độc thân bởi nhiều khi họ không kiểm soát được chi tiêu của mình, nhất là..
                                        li
                                            a.list-news-img(href="#")
                                                img(src="imgs/221-5.jpg")
                                            h4.list-title
                                                a(href="#") 4 cách giúp cha mẹ tiết kiệm tiền hiệu quả cho tương lai của...
                                            p.date-news-post
                                                | 11/07/2017 10:42
                                            p.lead
                                                |Quản lý tài chính cá nhân thế nào cho hợp lí là một vấn đề nan giải với những người độc thân bởi nhiều khi họ không kiểm soát được chi tiêu của mình, nhất là..
                                        li
                                            a.list-news-img(href="#")
                                                img(src="imgs/221-1.jpg")
                                            h4.list-title
                                                a(href="#") 2 năm làm 1 vị trí, nên nghỉ việc hay làm tiếp
                                            p.date-news-post
                                                | 11/07/2017 10:42
                                            p.lead
                                                |Quản lý tài chính cá nhân thế nào cho hợp lí là một vấn đề nan giải với những người độc thân bởi nhiều khi họ không kiểm soát được chi tiêu của mình, nhất là..
                                        li
                                            a.list-news-img(href="#")
                                                img(src="imgs/221-2.jpg")
                                            h4.list-title
                                                a(href="#") 4 cách giúp cha mẹ tiết kiệm tiền hiệu quả cho tương lai của...
                                            p.date-news-post
                                                | 11/07/2017 10:42
                                            p.lead
                                                |Quản lý tài chính cá nhân thế nào cho hợp lí là một vấn đề nan giải với những người độc thân bởi nhiều khi họ không kiểm soát được chi tiêu của mình, nhất là..
                                    .report-nav
                                        ul.pagination.pagination-tima
                                            li.active
                                                a(href='#') 1
                                            li
                                                a(href='#') 2
                                            li
                                                a(href='#') 3
                                            li.dot
                                                a(href='#') ...
                                            li
                                                a(href='#') 6

                    .col-md-3
                        .defautl-section.setup-app
                            .border-section
                                .title-section
                                    | Hướng dẫn cài app
                                div.install
                                    a(href="#")
                                        img(src="imgs/icon-apple.png")
                                    a(href="#")
                                        img(src="imgs/icon-android.png")
                        .defautl-section.faq-section
                            .border-section
                                .title-section
                                    | Hỏi đáp
                                ul.ul.ul-faq
                                    li
                                        a(href="#") 
                                            i.fa.fa-caret-right
                                            | Sản phẩm/ Dịch vụ
                                    li
                                        a(href="#") 
                                            i.fa.fa-caret-right
                                            |Về khoản vay
                                    li
                                        a(href="#") 
                                            i.fa.fa-caret-right
                                            |Thanh toán khoản vay

                        .defautl-section.faq-section
                            .border-section
                                .title-section
                                    | Báo chí nói về chúng tôi
                                ul.ul.ul-news-right
                                    li
                                        .source-news
                                            img.baochi(src="imgs/bao1.png")
                                            .date-post 18/07/17
                                        .under-list
                                            a.img-post(href="#")
                                                img(src="imgs/news.png")
                                            a.title-news(href="#") 
                                                |Quỹ MEF III của Mekong Capital đầu tư vào công ty cầm đồ F88
                                    li
                                        .source-news
                                            img.baochi(src="imgs/bao1.png")
                                            .date-post 18/07/17
                                        .under-list
                                            a.img-post(href="#")
                                                img(src="imgs/news.png")
                                            a.title-news(href="#") 
                                                |Quỹ MEF III của Mekong Capital đầu tư vào công ty cầm đồ F88
                                    li
                                        .source-news
                                            img.baochi(src="imgs/bao1.png")
                                            .date-post 18/07/17
                                        .under-list
                                            a.img-post(href="#")
                                                img(src="imgs/news.png")
                                            a.title-news(href="#") 
                                                |Quỹ MEF III của Mekong Capital đầu tư vào công ty cầm đồ F88
                                    li
                                        .source-news
                                            img.baochi(src="imgs/bao1.png")
                                            .date-post 18/07/17
                                        .under-list
                                            a.img-post(href="#")
                                                img(src="imgs/news.png")
                                            a.title-news(href="#") 
                                                |Quỹ MEF III của Mekong Capital đầu tư vào công ty cầm đồ F88
                                    li
                                        .source-news
                                            img.baochi(src="imgs/bao1.png")
                                            .date-post 18/07/17
                                        .under-list
                                            a.img-post(href="#")
                                                img(src="imgs/news.png")
                                            a.title-news(href="#") 
                                                |Quỹ MEF III của Mekong Capital đầu tư vào công ty cầm đồ F88





        