extends layouts/layout-full.pug

block config
    - var title = '8 Cai dat App'

block script
    script(src="js/vendor/holder.js")

block content
    .wrap-content
        .defautl-section.filter-search.first-section
            .container
                .border-section(style="overflow:visible")
                    .row
                        .col-md-9
                            .title-section
                                | Tải app về điện thoại
                        .col-md-12
                            .row
                                .col-md-9
                                    .left-setup
                                        .setup-item
                                            .setup-img
                                                img(src="imgs/vaynhanh1.png")
                                            h3 vay nhanh
                                            p Lãi suất tốt nhất - Thủ tục đơn giản - Ngay gần bạn
                                        .setup-item
                                            .setup-img
                                                img(src="imgs/mienphi.png")
                                            h3 miễn phí
                                            p Cho vay nhanh - Quản lí dễ dàng
                                        //- .setup-item
                                        //-    img.san(src="imgs/san.png")
                                    
                                .col-md-3.right-code
                                    .scan-code
                                        img(src="imgs/code.jpg")
                                    p.txt-scan-code Quét app tải về
                                    div.install
                                        a(href="#")
                                            img(src="imgs/icon-apple.png")
                                        a(href="#")
                                            img(src="imgs/icon-android.png")
                            
                    


                    
        
                                

        

        