extends layouts/layout-full.pug

block config
    - var title = 'Home Page'

block script
    script(src="js/vendor/holder.js")

block content
    .wrap-content
        .defautl-section.hero-section
            .container
                .row
                    .col-sm-6
                        .left-hero
                            h3.title-hero Bạn cần vay nhanh 1 khoản tiền
                            ul.ul.list-hero
                                li
                                    | Lãi suất tốt nhất
                                li
                                    | Gần nơi tôi sống
                                li
                                    | Thủ tục đơn giản
                                li
                                    | Giải ngân trong ngày
                            .btn-hero
                                a.btn-tima.btn-tima-dark
                                    | Đăng kí vay ngay
                    .col-sm-6
                        .right-hero
                            h3.title-hero  Bạn có tiền nhàn rỗi muốn đầu tư
                            ul.ul.list-hero
                                li
                                    | Khách hàng ngay gần
                                li
                                    | Lựa chọn được đối tượng khách hàng khác nhau
                                li
                                    | Miễn phí
                                
                            .btn-hero
                                a.btn-tima
                                    | Đăng kí cho vay
        .defautl-section.tima-section
            .container
                .border-section
                    .row
                        .col-md-9.right-border
                            .title-section
                                |Tima là gì?
                            p.big-text.uppercase
                                |Mỗi một ngày tima xử lý kết nối hàng nghìn đơn vay đến hàng nghìn nhà đầu tư cho vay
                        .col-md-3
                            ul.ul
                                li
                                    img(src="imgs/point.png")
                                    | Vay dễ dàng
                                li
                                    img(src="imgs/list.png")
                                    | Thủ tục nhanh
                                li
                                    img(src="imgs/sercurity.png")
                                    | Khoản vay bảo mật
        .defautl-section.lend-section
            .container
                .border-section
                    .row.wrap-table
                        .col-md-9.right-border
                            .scrollable
                                .title-section
                                    |Danh sách đơn xin vay mới nhất
                                .big-section.lend-list.slide-lend
                                    div.item-slide
                                        .icon-person
                                            img(src="imgs/girl.png")
                                        .info-customer.border-tbl
                                            p.name-cus Chi Van
                                            p.tel-cus 09x xxxxxx3
                                        .type-lend.border-tbl
                                            p.name-type Tín chấp
                                            p.in-out Ngân hàng
                                        .type-lend.border-tbl.address-customer
                                            p.name-type Hai Bà Trưng
                                            p.in-out Hà Nội
                                        .time-lend.border-tbl
                                            p.number-lend 3
                                            p.unit-lend Tháng
                                        .qty-lend.border-tbl
                                            p.amount 10.000.000
                                            p.unit-money Triệu đồng
                                        .date-lend
                                            span 15:30  
                                            | | 17/07/2017
                                    div.item-slide
                                        .icon-person
                                            img(src="imgs/boy.png")
                                        .info-customer.border-tbl
                                            p.name-cus Chi Van
                                            p.tel-cus 09x xxxxxx3
                                        .type-lend.border-tbl
                                            p.name-type Tín chấp
                                            p.in-out Ngân hàng
                                        .type-lend.border-tbl.address-customer
                                            p.name-type Hai Bà Trưng
                                            p.in-out Hà Nội
                                        .time-lend.border-tbl
                                            p.number-lend 1
                                            p.unit-lend Tháng
                                        .qty-lend.border-tbl
                                            p.amount 10.000.000
                                            p.unit-money Triệu đồng
                                        .date-lend
                                            span 15:30  
                                            | | 17/07/2017
                                    div.item-slide
                                        .icon-person
                                            img(src="imgs/girl.png")
                                        .info-customer.border-tbl
                                            p.name-cus Anh Nguyen Thang
                                            p.tel-cus 09x xxxxxx3
                                        .type-lend.border-tbl
                                            p.name-type Tín chấp
                                            p.in-out Vay ngoài
                                        .type-lend.border-tbl.address-customer
                                            p.name-type Long Bien
                                            p.in-out Hà Nội
                                        .time-lend.border-tbl
                                            p.number-lend 2
                                            p.unit-lend Tháng
                                        .qty-lend.border-tbl
                                            p.amount 10.000.000
                                            p.unit-money Triệu đồng
                                        .date-lend
                                            span 15:30  
                                            | | 17/07/2017
                                    div.item-slide
                                        .icon-person
                                            img(src="imgs/boy.png")
                                        .info-customer.border-tbl
                                            p.name-cus Anh Trung
                                            p.tel-cus 09x xxxxxx3
                                        .type-lend.border-tbl
                                            p.name-type Tín chấp
                                            p.in-out Vay ngoài
                                        .type-lend.border-tbl.address-customer
                                            p.name-type Hai Bà Trưng
                                            p.in-out Hà Nội
                                        .time-lend.border-tbl
                                            p.number-lend 3
                                            p.unit-lend Tháng
                                        .qty-lend.border-tbl
                                            p.amount 10.000.000
                                            p.unit-money Triệu đồng
                                        .date-lend
                                            span 15:30  
                                            | | 17/07/2017
                                    div.item-slide
                                        .icon-person
                                            img(src="imgs/boy.png")
                                        .info-customer.border-tbl
                                            p.name-cus Chi Hanh
                                            p.tel-cus 09x xxxxxx3
                                        .type-lend.border-tbl
                                            p.name-type Tín chấp
                                            p.in-out Ngân hàng
                                        .type-lend.border-tbl.address-customer
                                            p.name-type Thanh Xuan
                                            p.in-out Hà Nội
                                        .time-lend.border-tbl
                                            p.number-lend 4
                                            p.unit-lend Tháng
                                        .qty-lend.border-tbl
                                            p.amount 10.000.000
                                            p.unit-money Triệu đồng
                                        .date-lend
                                            span 15:30  
                                            | | 17/07/2017
                                    div.item-slide
                                        .icon-person
                                            img(src="imgs/girl.png")
                                        .info-customer.border-tbl
                                            p.name-cus Chi Van
                                            p.tel-cus 09x xxxxxx3
                                        .type-lend.border-tbl
                                            p.name-type Tín chấp
                                            p.in-out Vay ngoài
                                        .type-lend.border-tbl.address-customer
                                            p.name-type Bac Tu Liem
                                            p.in-out Hà Nội
                                        .time-lend.border-tbl
                                            p.number-lend 5
                                            p.unit-lend Tháng
                                        .qty-lend.border-tbl
                                            p.amount 10.000.000
                                            p.unit-money Triệu đồng
                                        .date-lend
                                            span 15:30  
                                            | | 17/07/2017
                            .child-pr 
                                div Chúng tôi có hàng nghìn đơn đăng ký xin vay mỗi ngày!
                                a.btn-tima
                                    | xem tất cả đơn vay


                                
                            
                        .col-md-3
                            .title-section
                                |Thống kê
                            .block-analytic
                                .lable Đơn vay trong ngày
                                .result 100
                            .block-analytic
                                .lable Tổng đơn vay trong ngày
                                .result 1200
                            .block-analytic
                                .lable Tổng đơn đã vay
                                .result 600
                            .block-analytic
                                .lable Xử lý nợ
                                .result 10
                    .call-support
                        .col-md-6
                            div.support-tel
                                |Để được tư vấn khoản vay gọi: 
                                a(href="tel:1800 6919") 1800 6919
                        .col-md-4
                            a.support-faq(href="#")
                                img(src="imgs/faq.png")
                                |Câu hỏi thường gặp
                        .col-md-2
                            a.support-faq(href="#")
                                img(src="imgs/user.png")
                                |Đăng ký

        .defautl-section.lend-section.borrow-section
            .container
                .border-section
                    .row.wrap-table
                        .col-md-9.right-border
                            .scrollable
                                .title-section
                                    |Danh sách mời vay
                                .big-section.borrow-list.slide-borrow
                                    div.item-slide
                                        .icon-person
                                            img(src="imgs/girl.png")
                                        .info-customer.border-tbl
                                            p.name-cus Chi Van
                                            p.tel-cus 
                                                img.icon-star(src="imgs/star.png")
                                                img.icon-star(src="imgs/star.png")
                                                img.icon-star(src="imgs/star.png")
                                                img.icon-star(src="imgs/star-dis.png")
                                                img.icon-star(src="imgs/star-dis.png")

                                        .type-lend.border-tbl
                                            p.name-type Tín chấp
                                            p.in-out Ngân hàng
                                        .type-lend.border-tbl.address-customer
                                            p.name-type Hai Bà Trưng
                                            p.in-out Hà Nội
                                        .ls-borrow.border-tbl
                                            p.gia-borrow 
                                                | 3.000 
                                                sup Đ
                                                span / 
                                            p.unit-borrow 
                                                | 1
                                                span Triệu
                                        .date-lend
                                            span 15:30  
                                            | | 17/07/2017
                                    div.item-slide
                                        .icon-person
                                            img(src="imgs/girl.png")
                                        .info-customer.border-tbl
                                            p.name-cus Chi Van
                                            p.tel-cus 
                                                img.icon-star(src="imgs/star.png")
                                                img.icon-star(src="imgs/star.png")
                                                img.icon-star(src="imgs/star.png")
                                                img.icon-star(src="imgs/star-dis.png")
                                                img.icon-star(src="imgs/star-dis.png")

                                        .type-lend.border-tbl
                                            p.name-type Tín chấp
                                            p.in-out Ngân hàng
                                        .type-lend.border-tbl.address-customer
                                            p.name-type Hai Bà Trưng
                                            p.in-out Hà Nội
                                        .ls-borrow.border-tbl
                                            p.gia-borrow 
                                                | 3.000 
                                                sup Đ
                                                span / 
                                            p.unit-borrow 
                                                | 1
                                                span Triệu
                                        .date-lend
                                            span 15:30  
                                            | | 17/07/2017
                                    div.item-slide
                                        .icon-person
                                            img(src="imgs/girl.png")
                                        .info-customer.border-tbl
                                            p.name-cus Chi Van
                                            p.tel-cus 
                                                img.icon-star(src="imgs/star.png")
                                                img.icon-star(src="imgs/star.png")
                                                img.icon-star(src="imgs/star.png")
                                                img.icon-star(src="imgs/star-dis.png")
                                                img.icon-star(src="imgs/star-dis.png")

                                        .type-lend.border-tbl
                                            p.name-type Tín chấp
                                            p.in-out Ngân hàng
                                        .type-lend.border-tbl.address-customer
                                            p.name-type Hai Bà Trưng
                                            p.in-out Hà Nội
                                        .ls-borrow.border-tbl
                                            p.gia-borrow 
                                                | 3.000 
                                                sup Đ
                                                span / 
                                            p.unit-borrow 
                                                | 1
                                                span Triệu
                                        .date-lend
                                            span 15:30  
                                            | | 17/07/2017
                                    div.item-slide
                                        .icon-person
                                            img(src="imgs/girl.png")
                                        .info-customer.border-tbl
                                            p.name-cus Chi Van
                                            p.tel-cus 
                                                img.icon-star(src="imgs/star.png")
                                                img.icon-star(src="imgs/star.png")
                                                img.icon-star(src="imgs/star.png")
                                                img.icon-star(src="imgs/star-dis.png")
                                                img.icon-star(src="imgs/star-dis.png")

                                        .type-lend.border-tbl
                                            p.name-type Tín chấp
                                            p.in-out Ngân hàng
                                        .type-lend.border-tbl.address-customer
                                            p.name-type Hai Bà Trưng
                                            p.in-out Hà Nội
                                        .ls-borrow.border-tbl
                                            p.gia-borrow 
                                                | 3.000 
                                                sup Đ
                                                span / 
                                            p.unit-borrow 
                                                | 1
                                                span Triệu
                                        .date-lend
                                            span 15:30  
                                            | | 17/07/2017
                                    div.item-slide
                                        .icon-person
                                            img(src="imgs/girl.png")
                                        .info-customer.border-tbl
                                            p.name-cus Chi Van
                                            p.tel-cus 
                                                img.icon-star(src="imgs/star.png")
                                                img.icon-star(src="imgs/star.png")
                                                img.icon-star(src="imgs/star.png")
                                                img.icon-star(src="imgs/star-dis.png")
                                                img.icon-star(src="imgs/star-dis.png")

                                        .type-lend.border-tbl
                                            p.name-type Tín chấp
                                            p.in-out Ngân hàng
                                        .type-lend.border-tbl.address-customer
                                            p.name-type Hai Bà Trưng
                                            p.in-out Hà Nội
                                        .ls-borrow.border-tbl
                                            p.gia-borrow 
                                                | 3.000 
                                                sup Đ
                                                span / 
                                            p.unit-borrow 
                                                | 1
                                                span Triệu
                                        .date-lend
                                            span 15:30  
                                            | | 17/07/2017
                                    div.item-slide
                                        .icon-person
                                            img(src="imgs/girl.png")
                                        .info-customer.border-tbl
                                            p.name-cus Chi Van
                                            p.tel-cus 
                                                img.icon-star(src="imgs/star.png")
                                                img.icon-star(src="imgs/star.png")
                                                img.icon-star(src="imgs/star.png")
                                                img.icon-star(src="imgs/star-dis.png")
                                                img.icon-star(src="imgs/star-dis.png")

                                        .type-lend.border-tbl
                                            p.name-type Tín chấp
                                            p.in-out Ngân hàng
                                        .type-lend.border-tbl.address-customer
                                            p.name-type Hai Bà Trưng
                                            p.in-out Hà Nội
                                        .ls-borrow.border-tbl
                                            p.gia-borrow 
                                                | 3.000 
                                                sup Đ
                                                span / 
                                            p.unit-borrow 
                                                | 1
                                                span Triệu
                                        .date-lend
                                            span 15:30  
                                            | | 17/07/2017
                                    
                            .child-pr 
                                div Chúng tôi có hàng nghìn nhà đầu tư cho vay trên Tima!
                                a.btn-tima
                                    | xem tất cả đơn vay


                                
                            
                        .col-md-3
                            .title-section
                                |Thống kê
                            .block-analytic
                                .lable Đơn vay trong ngày
                                .result 100
                            .block-analytic
                                .lable Tổng đơn vay trong ngày
                                .result 1200
                            .block-analytic
                                .lable Tổng đơn đã vay
                                .result 600
                            .block-analytic
                                .lable Xử lý nợ
                                .result 10
                    .call-support
                        .col-md-6
                            div.support-tel
                                |Để được tư vấn khoản vay gọi: 
                                a(href="tel:1800 6919") 1800 6919
                        .col-md-4
                            a.support-faq(href="#")
                                img(src="imgs/faq.png")
                                |Câu hỏi thường gặp
                        .col-md-2
                            a.support-faq(href="#")
                                img(src="imgs/user.png")
                                |Đăng ký

        .defautl-section.news-section
            .container
                .border-section
                    .title-section
                        |Báo chí nói về chúng tôi
                    .wrap-news-slide
                        ul.ul.ul-news
                            li
                                a.img-post(href="#")
                                    img(src="imgs/news.png")
                                .source-news
                                    img.baochi(src="imgs/bao1.png")
                                    .date-post 18/07/17
                                a.title-news(href="#") Lorem ipsum dolor sit amet, a urna, donec ut malesuada ac volutpat.

                            li
                                a.img-post(href="#")
                                    img(src="imgs/news2.png")
                                .source-news
                                    img.baochi(src="imgs/bao2.png")
                                    .date-post 18/07/17
                                a.title-news(href="#") Lorem ipsum dolor sit amet, a urna, donec ut malesuada ac volutpat.
                            li
                                a.img-post(href="#")
                                    img(src="imgs/news3.png")
                                .source-news
                                    img.baochi(src="imgs/bao3.png")
                                    .date-post 18/07/17
                                a.title-news(href="#") Lorem ipsum dolor sit amet, a urna, donec ut malesuada ac volutpat.
                            li
                                a.img-post(href="#")
                                    img(src="imgs/news4.png")
                                .source-news
                                    img.baochi(src="imgs/bao4.png")
                                    .date-post 18/07/17
                                a.title-news(href="#") Lorem ipsum dolor sit amet, a urna, donec ut malesuada ac volutpat.
                            li
                                a.img-post(href="#")
                                    img(src="imgs/news.png")
                                .source-news
                                    img.baochi(src="imgs/bao1.png")
                                    .date-post 18/07/17
                                a.title-news(href="#") Lorem ipsum dolor sit amet, a urna, donec ut malesuada ac volutpat.
                            li
                                a.img-post(href="#")
                                    img(src="imgs/news2.png")
                                .source-news
                                    img.baochi(src="imgs/bao2.png")
                                    .date-post 18/07/17
                                a.title-news(href="#") Lorem ipsum dolor sit amet, a urna, donec ut malesuada ac volutpat.


                            



                    


        
    

