extends layouts/layout-full.pug

block config
    - var title = '4.2 Login'

block script
    script(src="js/vendor/holder.js")

block content
    .wrap-content
        .defautl-section.login-section
            .container
                .row
                    .flex-login
                        .col-sm-7.hide-sm
                            .left-login
                                .left-log-item(style="background-image:url(imgs/login-left.jpg)")
                                .left-log-item(style="background-image:url(imgs/login-left.jpg)")
                                .left-log-item(style="background-image:url(imgs/login-left.jpg)")


                        .col-sm-5.main-signup-login
                            .right-login
                                ul.nav.tab-login-signup(role="tablist")
                                    li.active(role="presentation")
                                        a(href="#login",aria-controls="login", role="tab" data-toggle="tab") Đăng nhập
                                    li(role="presentation")
                                        a(href="#signup",aria-controls="signup", role="tab" data-toggle="tab") Đăng ký
                                .tab-content

                                    #login.tab-pane.fade.in.active(role="tabpanel")  
                                        form.signup-form.login-frm
                                            .form-group
                                                p.hello
                                                    |Chào bạn
                                                    br
                                                    |Đăng nhập để xem và quản lý khoản vay
                                            .form-group.errors
                                                input#email.form-control.input-tima(type="email",placeholder="Mail của bạn")
                                                p.error-message
                                                    i.fa.fa-warning
                                                    | Show content error here!
                                            //- Hidden password field - Don't remove
                                            .form-group.hidden-group 
                                                input#password-hidden.form-control.input-tima(type="password",placeholder="Mật khẩu")
                                            //- End Hidden password field
                                            .form-group
                                                input#password.form-control.input-tima(type="password",placeholder="Mật khẩu",value="")
                                            .form-group
                                                label.checkbox(for='remember')
                                                    input#remember(type='checkbox', name='agree')
                                                    i
                                                    span
                                                        | Nhớ tài khoản
                                                a.forgot-pass(href="#") Quên mật khẩu?
                                            .form-group
                                                p
                                                    | Bạn chưa có tài khoản? 
                                                    | Hãy 
                                                    a.underline(href="login.html") đăng kí ngay bây giờ 
                                                    | hoặc đăng nhập để sử dụng 
                                            .form-group
                                                button.btn-form(type="submit")
                                                    | Đăng nhập ngay
                                    #signup.tab-pane.fade(role="tabpanel") 
                                        form.signup-form
                                            .form-group
                                                label.radio(for='type1')
                                                    input#type1(type='radio', value="0" , name='type_invertor')
                                                    i
                                                    span
                                                        | Tôi là nhà đầu tư
                                                label.radio(for='type2')
                                                    input#type2(type='radio', value="0" , name='type_invertor')
                                                    i
                                                    span
                                                        | Tôi là người cần được đầu tư
                                            .form-group
                                                select.selectpicker.slt-tima
                                                    option Chọn loại tài khoản đầu tư
                                                    option Ketchup
                                                    option Relish
                                            .form-group 
                                                input#fullname.form-control.input-tima(type="text",placeholder="Tên của bạn")
                                            .form-group 
                                                input#email.form-control.input-tima(type="email",placeholder="Mail của bạn")
                                            .form-group.errors 
                                                input#tel.form-control.input-tima(type="tel",placeholder="Số điện thoại")
                                                p.error-message
                                                    i.fa.fa-warning
                                                    | Show content error here!
                                            //- Hidden password field - Don't remove
                                            .form-group.hidden-group 
                                                input#password-hidden.form-control.input-tima(type="password",placeholder="Mật khẩu")
                                            //- End Hidden password field
                                            .form-group
                                                input#password.form-control.input-tima(type="password",placeholder="Mật khẩu")
                                            .form-group 
                                                input#re-password.form-control.input-tima(type="password",placeholder="Nhập lại mật khẩu")
                                            .form-group
                                                label.checkbox(for='agree')
                                                    input#agree(type='checkbox', name='agree')
                                                    i
                                                    span
                                                        | Tôi chấp thuận các 
                                                        a(href="#") Điều Khoản Sử dụng 
                                                        | và xác nhận các thông tin trên là chính xác
                                            .form-group
                                                button.btn-form(type="submit")
                                                    | Đăng ký ngay
                                                    




                            



                    


        
    

